@media screen and (min-width: 768px) {

    .header {
        padding: 1rem 2rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: auto;
        margin-top: 0;
        background: none;
        gap: .5rem;
    }

    nav a {
        border: none;
    }

    #menuBtn{
        display: none;
    }

    .nav-icons {
        display: flex;
        text-align: center;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .list .card {
        grid-template-columns: 180px 1fr;
    }

    .list .card img {
        width: 180px;
        height: 150px;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    footer .logo {
        justify-content: flex-start;
    }

    .socials {
        justify-content: flex-start;
    }

    .border {
        width: 2px;
        height: 80px;
        background: rgba(255,255,255,.4);
    }
}